<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blogs</title>
</head>

<body>
    <ul>
        Hello, {{user.first_name}}<br><br>
        <li><a href="create">Write a Blog</a></li>
        <li><a href="read">Read Blogs</a></li>
        <li><a href="update">Update your Blogs</a></li>
        <li><a href="delete">Delete your Blog</a></li><br>
        <li><a href="logout">Logout</a></li>
        <br><br><br><br>
    </ul>
</body>

</html>